*.iml
.DS_Store
.externalNativeBuild
.cxx
.gradle
.idea
/.idea/misc
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/build
/captures
local.properties
